@import "../../assets/css/main.scss";

.stock-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $global-border-color;
  margin: 0 30px;
  padding: 25px 0;

  &:last-child() {
    border-bottom: 0;
  }

  h5 {
    font-size: $title-font-size;
    color: $title-text-color;
    margin-bottom: 10px;
    font-weight: 700;
  }

  .btn {
    padding: 5px 10px;
    border-radius: 8px;
    margin-right: 10px;

    &.followers {
      background: $follower-bg-color;
      color: $secondary-theme-color;
      font-weight: 500;
    }

    &.investors {
      background: $investor-bg-color;
      color: $primary-theme-color;
      font-weight: 500;
    }
  }
  .chart {
    p {
      color: $primary-theme-color;
      font-weight: 600;
    }
    span {
      font-weight: 400;
      color: $primary-text-color;
    }
  }
  #canvasjs-react-chart-container {
    height: 50px !important;
  }
}
@media (max-width: 767px) {
  .followers {
    margin-top: 10px;
  }
}
