$primary-text-color: #56606d;
$title-text-color: #2d405a;
$accent-text-color: #79828d;
$title-font-size: 16px;
$section-title-font-size: 18px;
$primary-theme-color: #2dcc89;
$secondary-theme-color: #0c9ecd;
$follower-bg-color: #e1f3f9;
$investor-bg-color: #e5f8f0;
$accent-bg-color: #4677f4;
$body-background-color: #e5e5e5;
$background-white-color: #ffffff;
$global-border-radius: 20px;
$global-border-color: #e8eff6;
$section-margin: 30px;
