@import "../../../assets/css/main.scss";

.posts-cards {
  margin: 15px 30px 0px;
  padding: 20px;
  background: #f8f8f8;
  border-radius: $global-border-radius;
  .post-status {
    display: flex;
    justify-content: space-between;
  }
  .profile-picure {
    flex-basis: 10%;
    img {
      border-radius: 50%;
    }
  }
  .text-area {
    flex-basis: 90%;
    .ant-input:placeholder-shown {
      background: transparent;
      border: none;
    }
  }
  .attachment {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-types {
      display: flex;
      flex-basis: 40%;
      text-align: left;
      img {
        margin-right: 20px;
        height: 23px;
      }
    }
    .btn {
      padding: 9px 17px;
      background: $primary-theme-color;
      border-radius: 8px;
      font-weight: 600;
      color: $background-white-color;
    }
  }
}
