@font-face {
  font-family: "Biennale";
  src: url("./assets/fonts/Biennale-Medium.eot");
  src: url("./assets/fonts/Biennale-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Biennale-Medium.woff2") format("woff2"),
    url("./assets/fonts/Biennale-Medium.woff") format("woff"),
    url("./assets/fonts/Biennale-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Biennale", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
